
<!DOCTYPE html> 
<html> 
    <head> 
        <title>Стенд</title> 
    </head> 
    <style> 
        table, th, td { 
          border:1px solid black; 
        } 
        </style> 
    <body> 
        <table style="width:100%"> 
            <tr> 
              <th>Имя</th> 
              <th>Email</th> 
              <th>Город</th> 
              <th>Страна</th> 
              <th>Номер телефона</th> 
            </tr> 
            <tr> 
                <td>{{data[0]}}</td> 
                <td>{{data[1]}}</td> 
                <td>{{data[2]}}</td> 
                <td>{{data[3]}}</td> 
                <td>{{data[4]}}</td> 
            </tr> 
          </table>           
    </body> 
</html> 