<!DOCTYPE html> 
<html> 
    <head> 
        <title>Стенд</title> 
    </head> 
    <body> 
        <form method="POST"> 
            <label>Введите имя:</label> 
            <input type="name" name="name" placeholder="Введите имя" required><br/> 
            <label>Введите Email:</label> 
            <input type="email" name="email" placeholder="Введите email" required><br/> 
            <label>Укажите город:</label> 
            <input type="name" name="city" placeholder="Укажите город" required><br/> 
            <label>Укажите страну:</label> 
            <input type="name" name="country" placeholder="Укажите страну" required><br/> 
            <label>Введите номер телефона:</label> 
            <input type="name" name="phone" placeholder="Введите номер телефона" required><br/> 
            <input type = "submit" value = "Создать"/><br/> 
        </form> 
    </body> 
</html>